.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding: 15px 0;
}

@media (max-width: 1024px) {
    .container {
        justify-content: space-around;
    }
  }
@media (max-width: 768px) {
    .container {
        justify-content: space-between;
        margin-inline: 20px;
    }
  }